*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

