body{
    background: linear-gradient(to right, rgba(255, 182, 193, 0.7), rgba(135, 206, 250, 0.7));
    padding: 60px;
}    








/* FOTTER */

/* FOOTER */
.footer {
    margin-top: 7rem;
    text-align: center;
    background-color: var(--cor-fundo-cinza-claro);
}


.footer .container {
    padding: 5rem 0;
}

.footer h2 {
    font-family: var(--fonte-secundaria);
    font-size: 2=30px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}


.footer .redes-sociais {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espaçamento entre os ícones */
  margin-top: 20px; /* Adiciona um espaçamento acima dos ícones */
  align-items: center; /* Centraliza os ícones */
  font-size: 30px; /* Aumenta o tamanho dos ícones */
}

.footer .redes-sociais a {
  display: flex; /* Define o contêiner como flexbox */
  justify-content: center; /* Centraliza o ícone horizontalmente */
  align-items: center; /* Centraliza o ícone verticalmente */
  height: 60px; /* Define o tamanho fixo inicial */
  width: 60px; /* Define o tamanho fixo inicial */
  text-align: center;
  background: transparent; /* Estado inicial sem fundo */
  border-radius: 50%; /* Mantém o formato circular */
  transition: all 0.3s ease; /* Aplica a transição suave */
}

.footer .redes-sociais a:hover {
  background: rgba(144, 238, 144, 0.7);  
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra no hover */
  transform: scale(1.1); /* Opcional: adiciona um pequeno zoom */
}




   


/* Adicione isto ao seu arquivo style.css */
footer .redes-sociais a i {
    font-size: 30px; /* Aumenta o tamanho dos ícones */
    padding: 20px;
    

  }



